<header class="header">
	<a href="index.html" class="header__logo-link">
		<img
			class="header__logo"
			src="assets/img/logos/logo_dark_horizontal.svg"
			alt="WEC Global"
		/>
	</a>

	<input type="checkbox" id="hamburger-check" />
	<div class="hamburger-btn">
		<label for="hamburger-check">
			<span></span>
			<span></span>
			<span></span>
		</label>
	</div>

	<nav class="header__nav">
		<ul class="header__list">
			<li class="header__item">
				<a href="about.html" class="header__link {{ about }}">About</a>
			</li>
			<li class="header__item">
				<a href="#" class="header__link {{ join }}">Join</a>
				<ul class="header__sublist">
					<li class="header__item">
						<a href="membership.html" class="header__link {{ membership }}"
							>Membership</a
						>
					</li>
					<li class="header__item">
						<a href="friend.html" class="header__link {{ friend }}">Friend</a>
					</li>
				</ul>
			</li>
			<li class="header__item">
				<a href="initiatives.html" class="header__link {{ initiatives }}"
					>Initiatives</a
				>
			</li>
			<li class="header__item">
				<a href="team.html" class="header__link {{ team }}">Team</a>
			</li>
			<li class="header__item">
				<a href="media.html" class="header__link {{ blogs }}">Media</a>
			</li>
			<li class="header__item">
				<a href="contact.html" class="header__link {{ contact }}">Contact</a>
			</li>
		</ul>
	</nav>
</header>
