@use '../abstracts/' as *;

.introduction {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    font-weight: 300;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &__copy {
        font-size: 1.7rem;
        line-height: 2em;
    }
}
