<script
	type="text/javascript"
	src="//www.freeprivacypolicy.com/public/cookie-consent/3.1.0/cookie-consent.js"
></script>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		cookieconsent.run({
			notice_banner_type: 'headline',
			consent_type: 'express',
			palette: 'light',
			language: 'en',
			website_name: 'WEC Global',
			cookies_policy_url:
				'https://wec-global.org/assets/docs/Cookies%20Policy.pdf',
		});
	});
</script>

<noscript
	>Cookie Consent by
	<a
		href="https://www.FreePrivacyPolicy.com/free-cookie-consent/"
		rel="nofollow noopener"
		>FreePrivacyPolicy.com</a
	></noscript
>
